[submodule "modulo1/src/esp32/publisher/components/micro_ros_espidf_component"]
	path = modulo1/src/esp32/publisher/components/micro_ros_espidf_component
	url = https://github.com/micro-ROS/micro_ros_espidf_component.git
